# `개폐업률 정리하기`

In [12]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import PublicDataReader as pdr

In [13]:
a = pd.read_csv("./2023/2023년_1분기_외식업_개폐업수(률).csv", encoding = "ansi", header = 1)

In [14]:
a.shape

(261, 14)

In [15]:
a.columns

Index(['행정구역', '생활밀접업종', '개업수', '폐업수', '개업률', '폐업률', '개업수.1', '폐업수.1', '개업률.1',
       '폐업률.1', '개업수.2', '폐업수.2', '개업률.2', '폐업률.2'],
      dtype='object')

In [16]:
b = pd.concat([a.iloc[:,[0,1]],a.iloc[:,-4:]], axis = 1)
b

,행정구역,생활밀접업종,개업수.2,폐업수.2,개업률.2,폐업률.2
0,행정구역,Unnamed: 1_level_2,Unnamed: 10_level_2,Unnamed: 11_level_2,Unnamed: 12_level_2,Unnamed: 13_level_2
1,하위 메뉴 펼침서울시 전체,외식업/ 한식음식점,1838,2250,3.0,3.7
2,하위 메뉴 펼침종로구,외식업/ 한식음식점,61,84,2.1,2.9
3,하위 메뉴 펼침중구,외식업/ 한식음식점,78,84,2.8,3.1
4,하위 메뉴 펼침용산구,외식업/ 한식음식점,58,54,3.2,2.9
...,...,...,...,...,...,...
256,하위 메뉴 펼침관악구,외식업/ 커피-음료,45,37,5.6,4.6
257,하위 메뉴 펼침서초구,외식업/ 커피-음료,61,61,4.6,4.6
258,하위 메뉴 펼침강남구,외식업/ 커피-음료,80,88,3.2,3.6
259,하위 메뉴 펼침송파구,외식업/ 커피-음료,86,65,6.0,4.5
260,하위 메뉴 펼침강동구,외식업/ 커피-음료,35,36,4.5,4.6

In [17]:
c = b.drop(index =[0])
c.columns = ['시군구명', '서비스업종','개업수', '폐업수', '개업률', '폐업률']
c = c[~(c["시군구명"].str.contains("서울시"))]

In [18]:
c["시군구명"] = c["시군구명"].str.replace(pat = "하위 메뉴 펼침",repl = "")
c["서비스업종"] = c["서비스업종"].str.replace(pat = "외식업/ ",repl = "")
c

    시군구명  서비스업종 개업수 폐업수  개업률  폐업률
2    종로구  한식음식점  61  84  2.1  2.9
3     중구  한식음식점  78  84  2.8  3.1
4    용산구  한식음식점  58  54  3.2  2.9
5    성동구  한식음식점  52  70  2.8  3.8
6    광진구  한식음식점  58  97  2.7  4.4
..   ...    ...  ..  ..  ...  ...
256  관악구  커피-음료  45  37  5.6  4.6
257  서초구  커피-음료  61  61  4.6  4.6
258  강남구  커피-음료  80  88  3.2  3.6
259  송파구  커피-음료  86  65  6.0  4.5
260  강동구  커피-음료  35  36  4.5  4.6

[250 rows x 6 columns]

In [19]:
c["서비스업종"].unique()

array(['한식음식점', '중식음식점', '일식음식점', '양식음식점', '제과점', '패스트푸드점', '치킨전문점',
       '분식전문점', '호프-간이주점', '커피-음료'], dtype=object)

In [20]:
d = ["한식음식점", "중식음식점", "일식음식점", "양식음식점", "제과점", "패스트푸드점", "치킨전문점", "분식전문점", "호프-간이주점", "커피-음료"]
e = ["한식", "중식", "일식", "기타 외국식", "제과제빵", "패스트푸드", "치킨", "분식", "주점", "커피"]
f = dict(zip(d,e))
f

{'한식음식점': '한식',
 '중식음식점': '중식',
 '일식음식점': '일식',
 '양식음식점': '기타 외국식',
 '제과점': '제과제빵',
 '패스트푸드점': '패스트푸드',
 '치킨전문점': '치킨',
 '분식전문점': '분식',
 '호프-간이주점': '주점',
 '커피-음료': '커피'}

In [21]:
c["서비스업종"] = c["서비스업종"].replace(f)
if "분기" in c.columns:
    c.drop(columns = "분기", inplace= True)
c.insert(loc = 0, column = "분기", value = "1")
c

    분기 시군구명 서비스업종 개업수 폐업수  개업률  폐업률
2    1  종로구    한식  61  84  2.1  2.9
3    1   중구    한식  78  84  2.8  3.1
4    1  용산구    한식  58  54  3.2  2.9
5    1  성동구    한식  52  70  2.8  3.8
6    1  광진구    한식  58  97  2.7  4.4
..  ..  ...   ...  ..  ..  ...  ...
256  1  관악구    커피  45  37  5.6  4.6
257  1  서초구    커피  61  61  4.6  4.6
258  1  강남구    커피  80  88  3.2  3.6
259  1  송파구    커피  86  65  6.0  4.5
260  1  강동구    커피  35  36  4.5  4.6

[250 rows x 7 columns]

In [22]:
c.to_csv("./개폐업률정리2023_1분기.csv", encoding="ansi", index = False)