# `필요한 라이브러리 불러오기`

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import PublicDataReader as pdr

# `필요한 파일 불러오기`

In [2]:
추정매출 = pd.read_csv("./서울시 상권분석서비스(상권-추정매출2022).csv", encoding = "ansi")
생활인구 = pd.read_csv("./서울시 상권분석서비스(상권-생활인구2022).csv", encoding = "ansi")
직장인구 = pd.read_csv("./서울시 상권분석서비스(상권-직장인구2022).csv", encoding = "ansi")
상권영역 = pd.read_csv("./서울시 상권분석서비스(상권영역).csv", encoding = "ansi")
법정동코드 = pd.read_csv("./서울시 건축물대장 법정동 코드정보.csv", encoding = "ansi")
매출등급 = pd.read_csv("./필지단위 소상공인 매출등급 정보.csv", encoding = "ansi")
코드변환 = pd.read_csv("./A_CS 코드변환.txt")

# `파일 살펴보기`

In [3]:
매출등급.head()

   DATA_CRTR_YM            LT_UNQ_NO  STDG_EMD_CD INDUSTRY_CD  SLS_GRD
0        202201  1111010100100030080     11110101         A03        4
1        202201  1111010100100480000     11110101         A01        2
2        202201  1111010100100589952     11110101         A11        3
3        202201  1111010100100589952     11110101         A03        2
4        202201  1111010100100690048     11110101         A01        2

In [4]:
코드변환

   업종코드        업종   서비스업종코드
0   A01        한식  CS100001
1   A02        치킨  CS100007
2   A03        분식  CS100008
3   A04      제과제빵  CS100005
4   A05     패스트푸드  CS100006
5   A06        분식  CS100008
6   A07        피자  CS100006
7   A08        커피  CS100010
8   A09  아이스크림/빙수  CS100005
9   A10    기타 외국식  CS100004
10  A11        중식  CS100002
11  A12        주점  CS100009
12  A13        일식  CS100003
13  A14       서양식  CS100004
14  A15  음료(커피 외)  CS100010

# `전처리 편하게 사전작업`
    컬럼명 변경하기
    문자 타입으로 바꾸기
    필요없는 컬럼 삭제

In [5]:
새로운_컬럼 = ["데이터기준년월", "필지고유번호", "법정동코드", "업종코드", "매출등급"]
매출등급.columns = 새로운_컬럼
매출등급 = 매출등급.astype(str)
매출등급_1 = 매출등급.drop(columns = "필지고유번호")
매출등급_1

        데이터기준년월     법정동코드 업종코드 매출등급
0        202201  11110101  A03    4
1        202201  11110101  A01    2
2        202201  11110101  A11    3
3        202201  11110101  A03    2
4        202201  11110101  A01    2
...         ...       ...  ...  ...
1423718  202212  11740110  A03    4
1423719  202212  11740110  A01    4
1423720  202212  11740110  A03    3
1423721  202212  11740110  A03    4
1423722  202212  11740110  A08    3

[1423723 rows x 4 columns]

In [6]:
#매출등급_1.loc[매출등급_1["데이터기준년월"].str[-2:].isin(["01", "02", "03"]), "분기"] = "1"

In [7]:
#list(enumerate(range(1,10+1,3)))

# `1. 3달 평균으로 분기 할거면 #풀어`

In [8]:
# for i,v in enumerate(range(1,10+1,3)):
#     매출등급_1.loc[매출등급_1["데이터기준년월"].str[-2:].isin([f"0{v}", f"0{v+1}", f"0{v+2}" if v != 10 else f"{v+2}"]), "분기"] = f"{i+1}"
# 매출등급_1

# `업종 코드에 서비스 업종코드 mapping하기`

In [9]:
매출등급_서비스추가 = pd.merge(left = 매출등급_1, right = 코드변환, how = "inner")
매출등급_서비스추가

        데이터기준년월     법정동코드 업종코드 매출등급        업종   서비스업종코드
0        202201  11110101  A03    4        분식  CS100008
1        202201  11110101  A03    2        분식  CS100008
2        202201  11110101  A03    1        분식  CS100008
3        202201  11110101  A03    3        분식  CS100008
4        202201  11110101  A03    3        분식  CS100008
...         ...       ...  ...  ...       ...       ...
1423718  202212  11740108  A09    2  아이스크림/빙수  CS100005
1423719  202212  11740108  A09    4  아이스크림/빙수  CS100005
1423720  202212  11740109  A09    2  아이스크림/빙수  CS100005
1423721  202212  11740109  A09    3  아이스크림/빙수  CS100005
1423722  202212  11740110  A09    4  아이스크림/빙수  CS100005

[1423723 rows x 6 columns]

In [10]:
# 상권영역 = 상권영역.astype(str)
# 상권영역.head()

In [11]:
#import PublicDataReader as pdr

In [12]:
행_법정동코드 = pdr.code_hdong_bdong()
행_법정동코드

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2023. 7. 3. 시행)

,시도코드,시도명,시군구코드,시군구명,행정동코드,읍면동명,법정동코드,동리명,생성일자,말소일자
0,11,서울특별시,11000,,1100000000,,1100000000,서울특별시,19880423,
1,11,서울특별시,11110,종로구,1111000000,,1111000000,종로구,19880423,
2,11,서울특별시,11110,종로구,1111000000,,1111090100,창신1동,19880423,19880423
3,11,서울특별시,11110,종로구,1111000000,,1111090200,창신2동,19880423,19880423
4,11,서울특별시,11110,종로구,1111000000,,1111090300,창신3동,19880423,19880423
...,...,...,...,...,...,...,...,...,...,...
53156,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035038,장산리,20230611,
53157,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035039,전진리,20230611,
53158,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035040,주청리,20230611,
53159,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035041,적은리,20230611,
53160,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035042,물갑리,20230611,

In [13]:
# for i,v in 행_법정동코드.groupby(by = "행정동코드"):
#     if len(v)>1:
#         print(i)

# `말소 되지 않은 주소만 고르기`

In [14]:
행_법정동코드 = 행_법정동코드.loc[행_법정동코드['말소일자'] == ""]

In [15]:
행_법정동코드

,시도코드,시도명,시군구코드,시군구명,행정동코드,읍면동명,법정동코드,동리명,생성일자,말소일자
0,11,서울특별시,11000,,1100000000,,1100000000,서울특별시,19880423,
1,11,서울특별시,11110,종로구,1111000000,,1111000000,종로구,19880423,
11,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010100,청운동,20081101,
12,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010200,신교동,20081101,
13,11,서울특별시,11110,종로구,1111051500,청운효자동,1111010300,궁정동,20081101,
...,...,...,...,...,...,...,...,...,...,...
53156,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035038,장산리,20230611,
53157,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035039,전진리,20230611,
53158,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035040,주청리,20230611,
53159,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035041,적은리,20230611,
53160,51,강원특별자치도,51830,양양군,5183035000,강현면,5183035042,물갑리,20230611,

# `mapping 하기 전 법정동 코드 길이 맞춰주기`

In [16]:
# 행_법정동코드["행정동코드"] = 행_법정동코드["행정동코드"].str[:-2]
행_법정동코드["법정동코드"] = 행_법정동코드["법정동코드"].str[:-2]

# `중복되는 row 제거 해주기`

In [35]:
행_법정동코드.drop_duplicates(subset ="법정동코드", inplace = True)
행_법정동코드

,시도코드,시도명,시군구코드,시군구명,행정동코드,읍면동명,법정동코드,동리명,생성일자,말소일자
0,11,서울특별시,11000,,1100000000,,11000000,서울특별시,19880423,
1,11,서울특별시,11110,종로구,1111000000,,11110000,종로구,19880423,
11,11,서울특별시,11110,종로구,1111051500,청운효자동,11110101,청운동,20081101,
12,11,서울특별시,11110,종로구,1111051500,청운효자동,11110102,신교동,20081101,
13,11,서울특별시,11110,종로구,1111051500,청운효자동,11110103,궁정동,20081101,
...,...,...,...,...,...,...,...,...,...,...
53055,51,강원특별자치도,51830,양양군,5183031000,서면,51830310,서면,20230611,
53076,51,강원특별자치도,51830,양양군,5183032000,손양면,51830320,손양면,20230611,
53101,51,강원특별자치도,51830,양양군,5183033000,현북면,51830330,현북면,20230611,
53116,51,강원특별자치도,51830,양양군,5183034000,현남면,51830340,현남면,20230611,
53138,51,강원특별자치도,51830,양양군,5183035000,강현면,51830350,강현면,20230611,

In [18]:
# 행_법정동코드["법정동코드"].loc[행_법정동코드["법정동코드"].str.startswith("11")].value_counts()

In [19]:
# 행_법정동코드[행_법정동코드["법정동코드"] == "11620102"]

In [36]:
a = pd.merge(left = 매출등급_서비스추가, right =행_법정동코드[["시군구명","법정동코드"]], how = "left")
a

        데이터기준년월     법정동코드 업종코드 매출등급        업종   서비스업종코드 시군구명
0        202201  11110101  A03    4        분식  CS100008  종로구
1        202201  11110101  A03    2        분식  CS100008  종로구
2        202201  11110101  A03    1        분식  CS100008  종로구
3        202201  11110101  A03    3        분식  CS100008  종로구
4        202201  11110101  A03    3        분식  CS100008  종로구
...         ...       ...  ...  ...       ...       ...  ...
1423718  202212  11740108  A09    2  아이스크림/빙수  CS100005  강동구
1423719  202212  11740108  A09    4  아이스크림/빙수  CS100005  강동구
1423720  202212  11740109  A09    2  아이스크림/빙수  CS100005  강동구
1423721  202212  11740109  A09    3  아이스크림/빙수  CS100005  강동구
1423722  202212  11740110  A09    4  아이스크림/빙수  CS100005  강동구

[1423723 rows x 7 columns]

# `2. 3월, 6월, 9월, 12월을 분기 대표로 할거면 # 풀어`

In [22]:
a = a[a["데이터기준년월"].str[-2:].isin(["03", "06", "09", "12"])]
for i,v in enumerate(["03", "06", "09", "12"]):
    a.loc[a["데이터기준년월"].str[-2:] == v, "분기"] = i+1
a["분기"] = a["분기"].astype(dtype = int)
a

        데이터기준년월  분기 시군구명     법정동코드 업종코드   서비스업종코드        업종 매출등급
207634   202203   1  종로구  11110101  A03  CS100008        분식    4
207635   202203   1  종로구  11110101  A03  CS100008        분식    2
207636   202203   1  종로구  11110101  A03  CS100008        분식    2
207637   202203   1  종로구  11110101  A03  CS100008        분식    2
207638   202203   1  종로구  11110101  A03  CS100008        분식    3
...         ...  ..  ...       ...  ...       ...       ...  ...
4314866  202212   4  강동구  11740109  A09  CS100005  아이스크림/빙수    2
4314867  202212   4  강동구  11740109  A09  CS100005  아이스크림/빙수    3
4314868  202212   4  강동구  11740109  A09  CS100005  아이스크림/빙수    3
4314869  202212   4  강동구  11740109  A09  CS100005  아이스크림/빙수    3
4314870  202212   4  강동구  11740110  A09  CS100005  아이스크림/빙수    4

[1443314 rows x 8 columns]

In [23]:
a["매출등급"] = a['매출등급'].astype(dtype = int)

In [24]:
a["매출등급"] = a['매출등급'].replace(to_replace = {1: 5, 2: 4, 3: 3, 4: 2, 5: 1})

In [25]:
a

        데이터기준년월  분기 시군구명     법정동코드 업종코드   서비스업종코드        업종  매출등급
207634   202203   1  종로구  11110101  A03  CS100008        분식     2
207635   202203   1  종로구  11110101  A03  CS100008        분식     4
207636   202203   1  종로구  11110101  A03  CS100008        분식     4
207637   202203   1  종로구  11110101  A03  CS100008        분식     4
207638   202203   1  종로구  11110101  A03  CS100008        분식     3
...         ...  ..  ...       ...  ...       ...       ...   ...
4314866  202212   4  강동구  11740109  A09  CS100005  아이스크림/빙수     4
4314867  202212   4  강동구  11740109  A09  CS100005  아이스크림/빙수     3
4314868  202212   4  강동구  11740109  A09  CS100005  아이스크림/빙수     3
4314869  202212   4  강동구  11740109  A09  CS100005  아이스크림/빙수     3
4314870  202212   4  강동구  11740110  A09  CS100005  아이스크림/빙수     2

[1443314 rows x 8 columns]

In [26]:
b = a[["분기","서비스업종코드","시군구명","매출등급"]].groupby(by = ["분기","시군구명","서비스업종코드"]).mean().round(0).reset_index()

In [27]:
c = 코드변환.drop_duplicates(subset = "서비스업종코드")
d = b["서비스업종코드"].map(dict(zip(c["서비스업종코드"],c["업종"])))
b.insert(loc = 3, column = "서비스업종", value = d)

In [28]:
b

     분기 시군구명   서비스업종코드   서비스업종  매출등급
0     1  강남구  CS100001      한식   4.0
1     1  강남구  CS100002      중식   4.0
2     1  강남구  CS100003      일식   4.0
3     1  강남구  CS100004  기타 외국식   3.0
4     1  강남구  CS100005    제과제빵   3.0
..   ..  ...       ...     ...   ...
995   4  중랑구  CS100006   패스트푸드   3.0
996   4  중랑구  CS100007      치킨   2.0
997   4  중랑구  CS100008      분식   2.0
998   4  중랑구  CS100009      주점   3.0
999   4  중랑구  CS100010      커피   3.0

[1000 rows x 5 columns]

In [29]:
b.to_csv("./분기수정_년도_업종_구_등급.csv", encoding='ansi', index = False)
# b